
@{
    ViewBag.Title = "AdminInfo";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="container_">
    <div id="logo">
        <h1 class="logo">BKF</h1>
    </div>
    <div class="leftbox">
        <nav>
            <a class="nav_a active" id="profile" ><i class="fa fa-user"></i></a>
        </nav>
    </div>
    <div class="rightbox">
        <div class="profile">
            <h1 class="profile_h1">Personal Info</h1>
            @{ 
                BKFoodCourt.Models.LoginModel user = Session[BKFoodCourt.Common.CommonConstant.USER_SESSION] as BKFoodCourt.Models.LoginModel;
                <h2 class="profile_h2">Type account</h2>
                <p>@user.typeAcc</p>
                <h2 class="profile_h2">Name</h2>
                <p>@user.Name</p>
                <h2 class="profile_h2">Email</h2>
                <p>@user.Email</p>
                <h2 class="profile_h2">Password </h2>
                <p>•••••••</p>
                <button class="btn-success">Cập nhật</button>
            }            
        </div>
    </div>
</div>

